.contact {
    width: 100%;
    height: auto;

    position: relative;
    float: left;

    background-color: #1976D2;
}

.contact > h1 {
    width: 100%;
    height: 2rem;

    margin: 4rem 0 0 0;

    position: relative;
    float: left;

    color: white;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    line-height: 2rem;
}

.contact > div {
    width: auto;
    height: auto;

    margin-top: 3rem;
    padding: 0.75rem 1.5rem;

    position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%, 0);

    color: white;
    font-size: 0.8rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 2px;

    background: #009688;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 1.5rem;
    transition: 0.5s;

    z-index: 9;

    cursor: pointer;
}

.contact > div:hover {
    background-color: #00897B;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.5s;
}

.contact > h2 {
    width: 100%;
    height: 1rem;

    margin: 3rem 0 ;

    position: relative;
    float: left;

    color: #CFD8DC;
    font-size: 0.6rem;
    font-weight: 300;
    text-align: center;
}