.contact {
    width: 100%;
    height: 20rem;

    margin-top: 3rem;

    position: relative;
    float: left;

    background-color: var(--primary-100);

    transition: 1s;
}

.contact > h1 {
    width: 100%;
    height: 2rem;

    margin: 4rem 0 0 0;

    position: relative;
    float: left;

    color: var(--tertiary-100);
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    line-height: 2rem;
}

.contact > div {
    width: auto;
    height: auto;

    margin: 3rem 0 0 0;
    padding: 0.75rem 1.5rem;

    position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%, 0);

    color: var(--tertiary-80);
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;

    background-color: var(--secondary-50);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 1.5rem;
    transition: 0.5s;

    z-index: 9;

    cursor: pointer;
}

.contact > div:hover {
    background-color: var(--secondary-70);
}

.contact > h2 {
    width: 100%;
    height: 1rem;

    margin: 4rem 0 0 0;

    position: relative;
    float: left;

    color: var(--tertiary-50);
    font-size: 0.6rem;
    font-weight: 300;
    text-align: center;
}