.card {
    width: calc(100% / 3 - 2rem / 3);
    height: auto;

    margin: 0 1rem 1rem 0;

    overflow: hidden;

    position: relative;
    float: left;

    background-color: #ECEFF1;
    border-radius: 1.5rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    opacity: 0.75;

    transition: 1s;
}

.card:nth-child(3n) {
    margin-right: 0;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    opacity: 1;
}

.card-header {
    width: 100%;
    height: 2rem;

    position: relative;
    float: left;

    background-color: #CFD8DC;
}

.card-progress {
    opacity: 0.25;
}

.card-user-icon {
    width: 0.6rem;
    height: 0.6rem;

    position: absolute;
    top: 0.8rem;
    left: 1.2rem;

    color: #607D8B;
}

.card-progress-icon {
    width: 0.6rem;
    height: 0.6rem;

    position: absolute;
    top: 0.8rem;
    left: calc(100% - 1.8rem);

    color: #607D8B;
}

.card-title {
    width: 100%;
    height: 2rem;

    position: relative;
    float: left;

    color: #455A64;
    font-size: 0.85rem;
    font-weight: 900;
    text-align: center;
    line-height: 2rem;
}

.card-body {
    width: calc(100% - 1rem);
    height: auto;

    padding: 0.5rem 0.5rem 0 0.5rem;

    position: relative;
    float: left;
}

.card-description {
    width: 100%;
    height: auto;

    margin-top: 0.45rem;
    margin-bottom: 0.3rem;

    position: relative;
    float: left;

    color: #455A64;
    font-size: 0.65rem;
    font-weight: 500;
    text-align: left;
    line-height: 100%;
}

.card-language {
    width: auto;
    height: auto;

    margin: 0.3rem 0.3rem 0 0;

    position: relative;
    float: left;

    color: #00796B;
    font-size: 0.55rem;
    font-weight: 900;
    text-align: left;
    line-height: 100%;
}

.card-footer {
    width: 100%;
    height: 2rem;

    margin-top: 1rem;

    position: relative;
    float: left;

    background-color: #CFD8DC;
}

.card-link-container {
    width: auto;
    height: 2rem;

    margin-top: 0.45rem;

    position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%, 0);
}

.card-link {
    width: auto;
    height: 0.6rem;

    padding: 0.25rem 0.25rem;
    margin: 0 0.25rem;

    position: relative;
    float: left;

    color: white;
    font-size: 0.5rem;
    font-weight: 900;
    line-height: 0.6rem;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 0.25rem;

    cursor: pointer;
}

.card-link-docs {
    background-color: #2980b9;
}

.card-link-code {
    background-color: #f39c12;
}

.card-link-demo {
    background-color: #e74c3c;
}