.language {
    width: 100%;
    height: 2rem;

    position: relative;
    float: left;

    color: #78909C;
    font-size: 0.65rem;
    font-weight: 500;
    line-height: 2rem;
}

.language-active {
    color: #607D8B;
    font-weight: 900;
}

.language-icon {
    width: 0.8rem;
    height: 0.8rem;

    margin: 0.6rem;

    position: relative;
    float: left;

    color: #455A64;
}

.language-star {
    width: 0.5rem;
    height: 0.5rem;

    margin: 0.75rem 0 0 0.3rem;

    position: relative;
    float: right;

    color: #90A4AE;
}