.greeting--w {
    width: 100%;
    height: 24.5rem;

    position: relative;

    background-color: #1976D2;
}

.greeting--w > p {
    width: 100%;
    height: 5rem;

    margin: 0;
    padding: 6rem 0 0.5rem 0;

    color: #E0E0E0;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    line-height: 5rem;
}

.greeting--w--aboutme {
    width: 12rem;
    height: 2.5rem;

    margin-left: calc(50% - 6rem);

    position: relative;

    color: #E3F2FD;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 2.5rem;

    background: rgb(3,169,244);
    background: linear-gradient(90deg, rgba(3,169,244,1) 0%, rgba(0,150,136,1) 100%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 1.5rem;

    cursor: pointer;
}

.greeting--w--aboutme:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.5s;
}

/* Dark Mode */

.greeting--d {
    width: 100%;
    height: 24.5rem;

    position: relative;

    background-color: #37474F;
}

.greeting--d > p {
    width: 100%;
    height: 5rem;

    margin: 0;
    padding: 6rem 0 0.5rem 0;

    color: #90A4AE;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    line-height: 5rem;
}

.greeting--d--aboutme {
    width: 12rem;
    height: 2.5rem;

    margin-left: calc(50% - 6rem);

    position: relative;

    color: #E3F2FD;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 2.5rem;

    background: rgb(3,169,244);
    background: linear-gradient(90deg, rgba(3,169,244,1) 0%, rgba(0,150,136,1) 100%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 1.5rem;

    cursor: pointer;
}

.greeting--d--aboutme:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 0.5s;
}