.skill--w {
    width: 60rem;
    height: 30rem;

    margin: -7.5rem 2rem;
    margin-left: calc(50% - 30rem);

    position: relative;

    background-color: #FAFAFA;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 1rem;

    cursor: pointer;
}

@media (min-width:1300px) and (max-width:1500px){
    .skill--w {
        width: 50rem;
        margin-left: calc(50% - 25rem);
    }
}

@media (min-width:1100px) and (max-width:1300px){
    .skill--w {
        width: 40rem;
        margin-left: calc(50% - 20rem);
    }
}

@media (max-width:1100px){
    .skill--w {
        width: 30rem;
        margin-left: calc(50% - 15rem);
    }
}

.skill--w--frontend {
    width: calc(50% - 2px);
    height: 100%;

    position: relative;
    float: left;

    border-right: solid #EEEEEE 1px;
}

.skill--w--backend {
    width: calc(50% - 2px);
    height: 100%;

    position: relative;
    float: left;

    border-left: solid #EEEEEE 1px;
}

/* Dark Mode */

.skill--d {
    width: 60rem;
    height: 30rem;

    margin: -7.5rem 2rem;
    margin-left: calc(50% - 30rem);

    position: relative;

    background-color: #455A64;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 1rem;

    cursor: pointer;
}

@media (min-width:1300px) and (max-width:1500px){
    .skill--d {
        width: 50rem;
        margin-left: calc(50% - 25rem);
    }
}

@media (min-width:1100px) and (max-width:1300px){
    .skill--d {
        width: 40rem;
        margin-left: calc(50% - 20rem);
    }
}

@media (max-width:1100px){
    .skill--d {
        width: 30rem;
        margin-left: calc(50% - 15rem);
    }
}

.skill--d--frontend {
    width: calc(50% - 2px);
    height: 100%;

    position: relative;
    float: left;

    border-right: solid #546E7A 1px;
}

.skill--d--backend {
    width: calc(50% - 2px);
    height: 100%;

    position: relative;
    float: left;

    border-left: solid #546E7A 1px;
}