.portfolio {
    width: 100%;
    height: auto;

    position: relative;
    float: left;

    transition: 0.5s;
}

.portfolio > h1 {
    width: 100%;
    height: 2rem;

    margin: 4rem 0 0.5rem 0;
    padding: 0;

    position: relative;
    float: left;

    color: #263238;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    line-height: 2rem;
}

.portfolio > h2 {
    width: 100%;
    height: 2rem;

    margin: 0;
    padding: 0;

    position: relative;
    float: left;

    color: #455A64;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    line-height: 2rem;
}

.portfolio > div {
    width: 60rem;
    height: auto;

    margin: 3rem 0;

    position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%, 0);
}

@media (max-width: 95rem) {
    .portfolio > div {
        width: calc(100% - 2rem);
        margin: 3rem 1rem;
        transform: translate(calc(-50% - 1rem), 0);
    }

    .portfolio > h2 {
        font-size: 0.65rem;
    }
}