.aboutme--w {
    width: 60rem;
    height: 30rem;

    margin: -7.5rem 2rem;
    margin-left: calc(50% - 30rem);

    position: absolute;

    background-color: #E3F2FD;
    border-radius: 1rem;

    cursor: pointer;

    display: none;

    z-index: 1;
}

@media (min-width:1300px) and (max-width:1500px){
    .aboutme--w {
        width: 50rem;
        margin-left: calc(50% - 25rem);
    }
}

@media (min-width:1100px) and (max-width:1300px){
    .aboutme--w {
        width: 40rem;
        margin-left: calc(50% - 20rem);
    }
}

@media (max-width:1100px){
    .aboutme--w {
        width: 30rem;
        margin-left: calc(50% - 15rem);
    }
}

/* Dark Mode */

.aboutme--d {
    width: 60rem;
    height: 30rem;

    margin: -7.5rem 2rem;
    margin-left: calc(50% - 30rem);

    position: absolute;

    background-color: #455A64;
    border-radius: 1rem;

    cursor: pointer;

    display: none;

    z-index: 1;
}

@media (min-width:1300px) and (max-width:1500px){
    .aboutme--d {
        width: 50rem;
        margin-left: calc(50% - 25rem);
    }
}

@media (min-width:1100px) and (max-width:1300px){
    .aboutme--d {
        width: 40rem;
        margin-left: calc(50% - 20rem);
    }
}

@media (max-width:1100px){
    .aboutme--d {
        width: 30rem;
        margin-left: calc(50% - 15rem);
    }
}